@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#E7ECEF] text-[#272932] selection:bg-accent/30;
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-br from-dark to-gray-500;
}
